[Unit]
Description=WebDAV server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/webdav --config /etc/webdav.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
